@import "../abstracts/mixins";

.banner {
  @include flex-row;
  @include box(100%, 225px);
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
  border-radius: 25px;
  margin: 0 10% 40px 10%;
  max-width: 1240px;

  &__img {
    @include box(100%);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    object-fit: cover;
    border-radius: 25px;
  }
  &__header {
    position: relative;
    color: white;
    font-size: 48px;
    text-align: center;
  }
}

@media only screen and (width >= 1640px) {
  .banner {
      width: 75%;
      margin-left: 17%;
  } 
}