@import "../abstracts/variables";
@import "../abstracts/mixins";

.banner {
  @include flex-row;
  @include box(80%, 225px);
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
  border-radius: 25px;
  margin: 0 10% 40px 10%;
  max-width: 1240px;

  &__img {
    @include box(100%);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    object-fit: cover;
    border-radius: 25px;
  }
  &__header {
    position: relative;
    color: white;
    font-size: 48px;
    text-align: center;
  }
}

@media only screen and (width >= $largerscreens) {
  .banner {
    width: 75%;
    margin-left: 15%;
  }
}

@media only screen and (width <= $tablet) {
  .banner {
    width: 96%;
    margin-left: 2%;
  }
}

@media only screen and (width <= $mobile) {
  .banner {
    margin-top: 27px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    @include box(88%, 111px);
    justify-content: flex-start;
    padding-left: 16px;
    &__header {
      width: 65%;
      text-align: left;
      font-size: 24px;
    }
  }
}
