@import "../variables/variables";

.card-container {
    background-color: $bg-primary;
    width: fit-content;
    height: fit-content;
    margin:0 9% 40px 9%;
    border-radius: 25px;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px
}