@import "../abstracts/variables";
@import "../abstracts/mixins";

.card {
    @include flex-row;
    @include box(270px);
    position: relative;
    margin: 20px;
    background: $grd-primary;
    background-color: $primary;
    border-radius: 10px;
    padding: 20px;
    text-align:left;
    align-items: flex-end;
    &__picture {
        @include box(100%);
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        object-fit: cover;
        border-radius: 5px;
    }
    &__title {
        z-index: 3;
        color: white;
        line-height: 150%;
    }

}