@import "../abstracts/variables";
@import "../abstracts/mixins";

.card-container {
  @include flex-row;
  max-width: 1140px;
  flex-flow: wrap;
  justify-content: flex-start;
  background-color: $bg-primary;
  margin: 0 10% 40px 10%;
  border-radius: 25px;
  padding: 50px;
  gap: 50px 60px;
}

@media only screen and (width >= 1640px) {
  .card-container {
    width: 75%;
    margin-left: 17%;
  }
}
