@import "../abstracts/variables";
@import "../abstracts/mixins";

.tag {
  height: 25px;
  @include flex-row;
  align-items: center;
  justify-content: center;
  //text-align: center;
  background-color: $primary;
  color: white;
  padding: 3px 29px;
  border-radius: 10px;
}

@media only screen and (width <= $mobile) {
  .tag {
    height: 18px;
    padding: 3px 30px;
    font-size: 10px;
  }
}
