// Couleurs
$primary: #ff6060;
$secondary: #e3e3e3;
$bg-primary: #f6f6f6;
$grd-primary: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.5) 100%
);

// Polices
$main-font: "Montserrat", sans-serif;

//Media Queries
$mobile: 768px;
$tablet: 1024px;
$largerscreens: 1201px;
