@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer {
  @include flex-column;
  justify-content: flex-end;
  align-items: center;
  gap: 29px;
  @include box(100%, 160px);
  max-width: 1640px;
  margin: 0;
  padding-bottom: 29px;
  background-color: black;
  &__logo {
    & svg {
      height: 40px;
      & path {
        fill: white;
      }
    }
  }
  &__copyright {
    color: white;
  }
}

@media only screen and (width >= $largerscreens) {
  .footer {
    width: 90%;
    margin-left: 7%;
  }
}

@media only screen and (width <= $mobile) {
  .footer {
    gap: 10px;
    justify-content: center;
    padding-top: 66px;
    padding-bottom: 58px;
    &__logo {
      & svg {
        width: 122px;
      }
    }
    &__copyright {
      text-align: center;
      width: 122px;
      line-height: 140%;
      font-size: 12px;
    }
  }
}
