@import "../abstracts/mixins";


.footer {
  @include flex-column;
  justify-content: flex-end;
  align-items: center;
  gap: 29px;
  @include box(100%, 160px);
  margin:0;
  padding-bottom: 29px;
  background-color: black;
  &__logo {
    & svg {
      height: 40px;
      & path {
        fill: white;
      }
    }
  }
  &__copyright {
    color: white;
  }
}
