@import "../abstracts/variables";
@import "../abstracts/mixins";


.header {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    padding: 45px 0;
    margin:0 10%;
    &__navlinks {
        @include flex-row;
        gap: 57px;
        list-style-type: none;
        & a {
            text-decoration: none;
        }
    }
}

.navlinks {
    &__link{
        color: $primary;
        font-size: 1.5em;
    }
}

@media only screen and (width >= 1640px) {
    .header {
        width: 75%;
        margin-left: 17%;
    } 
  }