@import "../abstracts/mixins";

.about-main {
    @include flex-column;
    gap: 30px;
    @include box(70%, fit-content);
    max-width: 1040px;   
    margin:0 15% 40px 15%;
}

@media only screen and (width >= 1640px) {
    .about-main {
        width: 60%;
        margin-left: 22%;
    } 
  }