@import "../abstracts/variables";
@import "../abstracts/mixins";

.error-message {
    @include flex-column;
    color: $primary;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;
    &__title {
        font-size: 280px;
        font-weight: 700;
    }
    &__subtitle {
        font-size: 28px;
    }
    &__link {
        color: $primary;
        text-decoration: underline;
        text-decoration-color: $primary;
    }
}
